
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav span {
    margin-right: 10px;
    color: #333;
  }
  
 